Django==6.0.4
PyYAML==6.0.3
requests==2.33.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-filter==25.2
python-dotenv==1.2.2
Pillow==12.2.0
celery==5.6.3
redis==7.4.0
drf-spectacular==0.29.0
social-auth-app-django==5.8.0
django-baton==5.1.2
django-imagekit==6.1.0
sentry-sdk[django]==2.58.0